@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
    margin: 0;
    padding: 0;
}

/* styles.css */

  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  #cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item h3 {
    font-size: 1.1rem;
    color: #444;
  }
  
  .cart-item-price {
    font-size: 1rem;
    color: #777;
  }
  
  #clear-cart {
    display: block;
    width: 100%;
    background-color: #ff6b81;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #clear-cart:hover {
    background-color: #ff4757;
  }
  
  .remove-item-btn {
    background-color: #ff4757;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-item-btn:hover {
    background-color: #ff6b81;
  }
  